<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el CommonModule.
    </p>
</div>

<div class="p-grid">

    <div class="p-col-4">
        <p-card header="Uppercase"
                [subheader]="nombreLower | uppercase">
                {{ nombreLower | uppercase }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Lowercase"
                [subheader]="nombreUpper | lowercase">
                {{ nombreUpper | lowercase }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Titlecase"
                [subheader]="nombreCompleto | titlecase">
                {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar fechas.
    </p>
</div>

<div class="p-grid">

    <div class="p-col-6">
        <p-card>
            <ul>
                <li>
                    Fecha
                </li>
                <li>
                    Fecha | date
                </li>
                <li>
                    Fecha | date: 'short'
                </li>
                <li>
                    Fecha | date: 'medium'
                </li>
                <li>
                    Fecha | date: 'long'
                </li>
                <li>
                    Fecha | date: 'full'
                </li>
                <li>
                    (Custom date) Fecha | date: 'MM, d, YYY'
                </li>
            </ul>

            <hr>
            <ul>
                <li>fecha | date: 'long':'GMT-6'</li>
                <li>fecha | date: 'long':'GMT-4'</li>
                <!-- Para visualizar esta fecha en el HTML se debe hacer la importacion
                en el "app.module.ts" respectiva. -->
                <li>fecha | date: 'long':'GMT-4':'fr'</li>
            </ul>

        </p-card>
    </div>

    <div class="p-col-6">
        <p-card>
            <ul>
                <li>
                    {{ fecha }}
                </li>
                <li>
                    {{ fecha | date }}
                </li>
                <li>
                    {{ fecha | date: 'short' }}
                </li>
                <li>
                    {{ fecha | date: 'medium' }}
                </li>
                <li>
                    {{ fecha | date: 'long' }}
                </li>
                <li>
                    {{ fecha | date: 'full' }}
                </li>
                <li>
                    {{ fecha | date: 'MMM, d, YYY' }}
                </li>
            </ul>

            <hr>
            <ul>
                <li>
                    {{ fecha | date: 'long':'GMT-6' }}
                </li>
                <li>
                    {{ fecha | date: 'long':'GMT-4' }}
                </li>
                <li>
                    {{ fecha | date: 'long':'GMT-4':'fr' }}
                </li>
            </ul>
        </p-card>
    </div>
</div>
